body {
    max-width: 1440px;
    background-color: rgb(203, 148, 255);
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

#container {
    width: 100%;
    background-color: rgb(255, 180, 249);
    padding: 60px 40px 200px 40px;
    position: relative;
}

#game {
    display: grid;
    width: 60%;
    height: auto;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    padding: 5px;
    background-color: black;
}

#title {
    padding-bottom: 40px;
    width: fit-content;
    margin: auto;
}

h1 {
    padding: 12px;
    background-color: white;
    color: blueviolet;
    width: fit-content;
    margin: 0;
    text-align: center;
    border-radius: 20px;
}

#game > div {
    padding: 0;
    margin: 0;
    background-color: rgb(225, 225, 225);
    aspect-ratio: 1/1;
}

#game > div:hover {
    opacity: 0.7;
}

div {
    margin: 0;
}

#reset {
    margin: auto;
    padding: 12px 15px 12px 15px;
    border: 2px solid lavender;
    background-color: white;
    border-radius: 15px;
    font-weight: 700;
}

.hidden {
    display: none;
}

.special {
    width: 25%;
    font-size: 32px;
    padding: 40px 50px 40px 50px;
    font-weight: 700;
    border-radius: 25px;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 35%;
}

#test {
    color:darkgreen;
    border: 2px solid darkgreen;
    background-color: greenyellow;
}

#defeat {
    color: red;
    border: 2px solid red;
    background-color: lightpink;
}

#victory {
    color: lightseagreen;
    border: 2px solid lightseagreen;
    background-color: lightblue;
}

#playAgain  {
    color: orange;
    border: 2px solid orange;
    background-color: lightgoldenrodyellow;
    top: 45%;
}

#tie {
    color: purple;
    border: 2px solid purple;
    background-color: pink;
}

.player {
    color: blueviolet;
}

.computer {
    color: red;
}

.player, .computer {
    width: 100%;
    height: 100%;
    font-size: 15em;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

#score {
    background-color: white;
    font-size: 32px;
    padding: 10px;
    width: fit-content;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 8px;
    margin: 0;
    margin-right: 30px;
    margin-left: 170px;
}

#playerScore, #computerScore {
    padding: 15px 10px 15px 10px;
    background-color: rgba(229, 229, 229, 0.921);
    font-weight: 700;
}

#playerScore {
    border-radius: 20px 0px 0px 20px;
}

#computerScore {
    border-radius: 0px 20px 20px 0px;
}

#scoreSentence {
    font-size: 24px;
    align-self: center;
}

#alt {
    padding-top: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}